:root{
    --cor-principal:#8C52FF;
    --cor-secundaria:#FFFFFF;
    --cor-texto-secundaria:#828282;
    --cor-texto-principal: #000;
}

.navbar {
    border-bottom: 2px solid var(--cor-principal);
}

.navbuttons {
    justify-content: flex-end;
}

.dash-nav-option {
    margin-right: 10px;
}

.side-bar {
    width: 20%;
    background-color: rgba(200,200,200,.3);
    position: absolute;
    left: -50%;
    height: 100%;
    transition: .4s left ease-out;
}

.side-bar.active {
    left: 0;
}

.side-navbar {
    margin: 0;
    list-style: none;
    padding: 0;
}

.side-navbar-li {
    font-size: 1.4em;
    padding: .5em .2em;
    border-bottom: 2px solid var(--cor-principal);
}

.side-navbar-li.active {
    background-color: var(--cor-secundaria);
}

.logo-container {
    display: flex;
    align-items: center;
    width: 15%;
}

.navlogo {
    width: 100%;
}

.ampulheta {
    width: 50%;
    transition: .4s all ease-out;
}

.ampulheta.active {
    transform: rotate(360deg);
    margin-left: -75%;
}

.logo-name {
    transition: .4s all ease-out;
}

.logo-name.active {
    opacity: 0;
    transform: translateX(40%);
}

.main-content {
    width: 100%;
    padding: 1em;
    height: 100vh;
    transition: .4s width ease-out, .4s margin ease-out;
}

.main-content.active {
    width: 80%;
    margin-left: 20%;
}

.tablecontent {
    text-align: left;
    margin: auto;
    padding-top: 1em;
}

.table-row {
    background-color: rgba(200,200,200,.3);
}

.table-row:nth-child(even) {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

@media (max-width: 1000px) {
    .side-bar {
        width: 25%;
    }

    .main-content.active {
        width: 75%;
        margin-left: 25%;
    }
}

@media (max-width: 600px) {
    .dash-nav-option {
        margin-right: 0px;
    }
    .logo-container {
        width: 20%;
    }

    .side-bar {
        width: 35%;
    }

    .main-content.active {
        width: 65%;
        margin-left: 35%;
    }

    .side-navbar-li {
        font-size: 1em;
    }
}   

@media (max-width: 600px) {
    .dash-nav-option {
        margin-right: 0px;
    }
    .logo-container {
        width: 20%;
    }

    .side-bar {
        width: 50%;
    }

    .side-navbar-li {
        font-size: .8em;
    }
}